html, body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', sans-serif;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  color: #000;
}

div {
  display: block;
}

/* Header */
.header {
  padding: 30px 0px 80px;
}

.header h1 {
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
}

.header .nav{
  margin-top: 25px;
}

.header .nav li a{
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.header .nav li .active {
  border: none;
}

/* Jumbotron */
.jumbotron {
  background-color: transparent;
  margin-bottom: 30px;
  padding: 30px;
}

.jumbotron h2 {
  font-size: 50px;
  margin-bottom: 120px;
}

.jumbotron h2 span {
  color: #ffc200;
}

/* Banner */
.banner {
  background-color: #333;
  height: 140px;
  padding: 20px;
}

.banner h1, p {
  color: #fff;
  text-align: center;
  margin-top: 
}

/* Cards */
.cards {
  background-color: #ffc200;
}

.cards h1 {
  text-align: center;
  color: #333;
  padding: 60px;
  font-size: 28px;
}

.cards img {
  padding: 10px;
}

/* Footer */
.footer {
  background-color: #000;
}

img {
  vertical-align: middle;
  border: 0;
}

.footer img {
  width: 24px;
  margin-top: 10px;
  margin-right: 10px;
}

@media (max-width: 992px) {
  .col-md-4 {
    margin: 0 auto 0;
    text-align: center;
    width: 100%;
  }
  .cards img {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .header h1 {
    text-align: center;
  }

  .nav li {
    text-align: center;
    width: 100%;
  }

  .cards img {
    width: 100%;
  }
}