/* Jon McKay Blog css */

body {
    background-color:#1f232b;
}

.body-container{
    margin: 0 auto;
    width: 1020px;
}

header {
    background-color: #2e343d;
    height: 61px;
    width: 100%;
    background: url(img/Header-Bar.png) top no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    z-index: 7;
    position: absolute;
    top: 0;
    
}

a {
    text-decoration: none;
}

/* Header Styles */

.header-navbar {
    padding: 0;
    width: 450px;
    position: absolute;
    top: 0;
    right: 0;
}

.header-navbar ul li {
    text-align: center;
    padding: 5px 15px 0;
    font-size: 16px;
    font-family: courier, sans-serif;
    list-style: none;
    line-height: 1.2;
    font-weight: bold;
    display: inline-block;
    z-index: -1;
}

.header-navbar a{
    border-color: #2e343d;
    transition: border 0.4s ease-in-out;
}

/* unvisited */
a:link {
    color: rgb(253, 253, 253);
}

/* visited */
a:visited {
    color: rgb(253, 253, 253);
}

.header-navbar a:hover {
    border-top: 3px solid #4882B1;
    color: #858c96;
    width: 40px;
}

/* active / mouse down */
.header-navbar a:active {
    color: black;
}

.header-logo h1{
    position: absolute;
    left: 15px;
    top: -10px;
    color: #fdfdfd;
}

/*.header-image img {    
    width: 1020px;
    margin: 0 auto;
    top: 59px;
    position: absolute;
}*/

/* Main content styles */
.sidebar {
    text-align: center;
    max-width: 280px;
    position: relative;
    float:  right;
    top: 115px;
    padding-left: 0;
}

.sidebar .archive-posts {
    background: url(img/Archive-background.png);
    background-color: white;/*#2e343d; */
    background-size: 280px 600px;
    background-position: left;
    box-shadow: 0px 0px 5px 0.00px rgba(0, 0, 0, 0.05);
    height: 523px;
    text-align: center;
}

.sidebar .archive-posts .latest-posts {
    width: 280px;
    position: absolute;
    right: 5px;
    top: 40px;
}

.sidebar .archive-posts .latest-posts h4 {
    display: inline;
    color: #abb2bf;
    font: 700 16px 'Courier New';
    padding-left: 0;
    margin-right: 10px;
    margin-left: 0px;
    text-align: left;
}

.sidebar .archive-posts .latest-posts img {
    display: inline;
}

.sidebar .archive-posts ul li{
    list-style: none;
    font: 700 14px 'Courier New';
    
}

.sidebar .archive-posts ul li a {
    color: #858c96;
    font-weight: bold;
}

.sidebar .archive-posts ul h6 {
    color: #4882b1;
}




#body-container {
    width: 1020px;
    height: 100%;
    margin: 0 auto;
}

.archive {
    max-width: 280px;
    padding: 0;
}

.article-container {
    background: url(img/Blog-text-Area.png);
    background: 706px 941px;
    background-color: #eceded;
    position: absolute;
    top: 350px;
    max-width: 679px;
    height: 100%;
}

.article-header {
    background-color: #eceded;
    height: 90px;
    position: relative;
    padding: 20px 0 0 0;
}

.article-header-text {
    display: inline-block;
    position: absolute;
    float: right;
    width: 600px;
    height: 90px;
    left: 85px;
}

.article-header-image img{
    position: absolute;
    display: inline-block;
    height: 74px;
    width: 74px;    
    float: left;
    left: 10px;
}

.article-image {
    top: 333px;
}

.sunset-image {
    background: url(img/pexels-photo.png);
    bottom: 1399px;
    height: 232px;
    width: 1020px;
    position: relative;
    top: 63px;
}

.archive .archive-posts ul {
    position: absolute;
    right: 20px;
    top: 60px;
    width: 200px;
    text-align: center;
}

.article-body {
    padding: 15px;
}

.article-header-text h4 {
    font: 700 18px 'Courier New';
    position: absolute;
    left: 10px;
    top: 5px;
}

.article-header-text h5 {
    font: 400 14px 'Courier New';
    color: #858c96;
    position: absolute;
    bottom: 0px;
    left: 10px;
}



.social {
    background: url(img/Social-background.png) top left no-repeat;
    box-shadow: 0px 0px 5px 0.00px rgba(0, 0, 0, 0.05);
    width: 280px;
    background-color: #2e343d;
    height: 57px;
    margin-top: 50px;
}

.about {
    background: url(img/About-background.png) top left no-repeat;
    position: relative;
    margin-top: 50px;
    margin-bottom: 150px;
}

footer {
    display: block;
    position: fixed;
    height: 34px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #2e343d;
}

footer h6 {
    position: absolute;
    left: 10px;
    top: -17px;
    font: 400 12px 'Courier New';
    color: #abb2bf;
}

footer .footer-links {
    position: absolute;
    right: 10px;
    top: -8px;
}

.footer-links ul li{
    text-align: center;
    color: #fdfdfd;
    font: 700 14px 'Courier New';
    list-style: none;
    display: inline-block;
    padding: 0 2px 0;
    margin-right: 10px;
}

footer a:hover {
    color: #858c96;
}

.about-text {
    font: 400 14px / 21px Courier;
    color: #020203;
    padding: 0 15px 2px;
}

.about-title {
    font: 700 16px 'Courier New';
    color: #abb2bf;
    position: relative;
    top: 18px;
}

.about-image {
    position: relative;
    top: 5px;
}

.social-header {
    font: 700 16px 'Courier New';
    color: #abb2bf;
    position: relative;
    top: 10px;
}

.archive .thumbnail1, .thumbnail2, .thumbnail3, .thumbnail4, .thumbnail5 {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    height: 60px;
    width: 60px;
    left: 10px;
    border: solid 5px #636f87;
    box-shadow: 0px 1px 2px 0.00px rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    transition: border-color 0.2s ease-in-out;
    background: url(images/sidebar_picture.png);
}

.archive .thumbnail1 {
    top: 75px;
}


.archive .thumbnail1:hover {
    border-color: #4882b1;
    
}

.archive .thumbnail2 {
    top: 164px;
}

.archive .thumbnail3 {
    top: 253px;
}
.archive .thumbnail4 {
    top: 342px;
}
.archive .thumbnail5 {
    top: 431px;
}